{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>{% trans 'About Us' %}</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'contact:home' %}">{% trans 'Home' %}<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">{% trans 'About Us' %}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
<br>
    <section class="about">
        <div class="container">
                    <h3 class="text-center">{% trans 'About us' %}</h3>
        <p class="text-center" style="font-size: 20px;line-height: 25px">
            {% blocktrans %}
            Мы заботимся о качестве нашего товара и работаем только с проверенными поставщиками. Все наши игрушки проходят строгий контроль качества, чтобы быть уверенными в их безопасности и долговечности.
            Мы предоставляем удобные способы оплаты и доставки, чтобы сделать ваше покупательский опыт максимально приятным.
                Если у вас возникнут какие-либо вопросы или проблемы, наши опытные консультанты по продажам всегда готовы помочь вам сделать правильный выбор.

Мы верим, что игрушки - это не просто развлечение, но и важная часть развития ребенка. Поэтому мы стремимся предложить нашим клиентам только лучшие игрушки, которые помогут развивать творческие и когнитивные способности детей.
            {% endblocktrans %}
        </p>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->
<!--    <section class="blog_categorie_area">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                {% for post in object_list %}-->
<!--                 <div class="col-lg-4">-->
<!--                    <div class="categories_post">-->
<!--                        <a href="{% url 'blog:single' pk=post.pk %}">-->
<!--                        <img src="{{ post.image.url }}" alt="post">-->
<!--                        <div class="categories_details">-->
<!--                            <div class="categories_text">-->
<!--                                    <h5>{{ post.title }}</h5>-->
<!--                                <div class="border_line"></div>-->
<!--                                <p>Enjoy your social life together</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                 </div>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->


    <!--================Blog Categorie Area =================-->

{% endblock %}